body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

.home_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home_head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    align-items: flex-start;
    padding: 20px 80px 0;
}

.home_menu {
    display: flex;
    flex-direction: row;
}


.home_menu a {
    color: #eee;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.home_menu span {
    display: inline-block;
    line-height: 30px;
    padding-left: 8px;
    margin-right: 16px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12rem 0;
}

.content h1 {
    text-align: center;
    font-size: clamp(2rem, 3vw, 8rem);
    color: white;
    width: clamp(300px, 70vw, 1500px);
    margin-bottom: 5rem;
    opacity: 0;
    font-weight: 300;
    animation: goUp 1s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.content .btn {
    padding: 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.content .btn-light {
    background-color: transparent;
    border: 1px solid #ccc;
    color: white;
    font-size: 1rem;
}

.content .btn-light:hover {
    background-color: white;
    color: #2a4f5f;
}

.content .buttons {
    animation: goUp 1s cubic-bezier(0, 0.55, 0.45, 1) 0.5s forwards;
    opacity: 0;
}

.content .buttons a {
    margin: 10px;
    padding: 16px 64px;
}


@keyframes fullWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes goUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}